@import "tailwindcss";

:root {
  --background: #cfcfcf;
  --foreground: #141414;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple: #60519b;
  --color-indigo: #8387c3;
  --font-sora: var(--font-sora);
}

@layer components {
  .section-style {
    @apply w-full min-h-screen flex flex-col justify-center p-12
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora);
}